<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo_novo3.jpg">
    <script src="{{ STATIC_URL }}assets/bootstrap-3.0.0/assets/js/jquery.js"></script>
    <script src="http://leaverou.github.com/prefixfree/prefixfree.min.js"></script>
    <title>Marmitinha Tracy</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}assets/bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}assets/bootstrap-3.0.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}assets/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link href="{{ STATIC_URL }}assets/jquery-ui-1.10.3.custom/css/overcast/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <script type="text/javascript">
        $(function() {
            $("#datepicker").datepicker({'dateFormat': 'dd/mm/yy'});
        });
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Marmitinha Tracy</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          {% block login %}
          <form class="navbar-form navbar-right" method="POST" action="{% if user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% endif %}">
            <input type="hidden" name = "next" value = "{% url 'home' %}" />
            {% csrf_token %}
            {% if user.is_authenticated %}
              <p style="color:#909090">Bem vindo, {{ user.username }}.</p>
              <input type="submit" class="btn btn-success" value="Log out" />
            {% else %}
            {% if form.errors %}
              <p class="text-warning">Your username and password didn't match. Please try again.</p>
            {% endif %}
                <div class="form-group">
                  <input id="id_username" name="username" type="text" placeholder="Login" class="form-control" />
                </div>
                <div class="form-group">
                  <input id="id_password" name="password" type="password" placeholder="Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success">Sign In</button>
            {% endif %}
            </form>
          {% endblock %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <br>
        <div class="container">
          <div class="row">
            <div class="col-lg-1">
              <img src="{{ STATIC_URL }}img/logo_novo3.jpg" height="124" width="106">
            </div>
            <div class="col-lg-11">
            <div class="titulo">
              <h1>Marmitinha Tracy</h1>
            </div>
            </div>
          </div>
        </div>
        <p>A Marmitinha Tracy é um serviço de almoço diário disponibilizado pela Tracy Web Technologies, não só para os funcionários da própria empresa, como para todos aqueles dentro do Ambiente CoNéctar que solicitarem tal serviço, no entanto, existe uma obrigação, lavar a marmita térmica, e aqui informamos, de maneira justa, de quem é a vez.</p>
        <p><a class="btn btn-primary btn-lg">Sobre &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Ranking</h2>
          <div class="list-group">
            <a href="#" class="list-group-item active">
              Ranking
            </a>
            {% for person in people %}
              <a href="#" class="list-group-item">{{ person.name }} {{ person.get_average }}</a>
            {% endfor %}
          </div>
          <!--<p>Como saber se a sua vez de lavar está chegando? Veja o Ranking! Para entender o funcionamento do Ranking, clique em "Ver detalhes"</p>  -->
          <p><a class="btn btn-default" href="#">Entenda o Ranking &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>De quem é a vez de lavar?</h2>
          <div class="button-wrapper">
          <a href="#" class="a-btn" style="text-decoration:none">
            <span class="a-btn-text">Veja</span>
            {% if min %}
                <span class="a-btn-slide-text">{{ min.name }}</span>
            {% endif %}
            <span class="a-btn-icon-right"><span></span></span>
          </a>
          </div>
       </div>
        <div class="col-lg-4">
         <h2>Área do admin</h2>
         <div>
           <input value="{{ today }}" type="text" id="datepicker" placeholder="Data" class="form-control" style="z-index:10" />
         </div>
         <div class="panel panel-default">
          <!-- Default panel contents -->
          <!-- Table -->
          <table class="table">
           <thead>
            <tr>
             <th>Nome</th>
             <th>Comeu</th>
             <th>Lavou</th>
            </tr>
           </thead>
           <tbody>
           {% for person in people %} 
             <tr>
              <td> {{ person.name }}</td>
              {% if person.pk in pqc %}                                              
                <td><div class="check_icon"></div></td>                         
              {% else %}                                                        
                <td><div class="uncheck_icon"></div></td>                       
              {% endif %} 
              {% if person.wash %}
                <td><div class="check_icon"></div></td>
              {% else %}
                <td><div class="uncheck_icon"></div></td>
              {% endif %}
             </tr> 
           {% endfor %}
           </tbody>
          </table>
         </div>

        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}assets/bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>

