<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo_novo3.jpg">
    <title>Marmitinha Tracy</title>

    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}assets/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <script src="{{ STATIC_URL }}assets/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link href="{{ STATIC_URL }}assets/jquery-ui-1.10.3.custom/css/overcast/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script type="text/javascript">
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                }
            }
        });
        $(function() {
            $("#datepicker").datepicker({'dateFormat': 'dd/mm/yy'});
        });
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0);">Marmitinha Tracy</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Início</a></li>
            <li><a href="#contact">Contato</a></li>
          </ul>
          {% block login %}
          <form class="navbar-form navbar-right" method="POST" action="{% if user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% endif %}">
            <input type="hidden" name="next" value="{% url 'home' %}" />
            {% csrf_token %}
            {% if user.is_authenticated %}
              <p style="color:#909090; margin: 0;">Bem vindo, {{ user.username }}.
                <input type="submit" class="btn btn-success" value="Sair" />
              </p>
            {% else %}
            {% if form.errors %}
              <p class="text-warning">Seu usuário e senha não batem, tente novamente.</p>
            {% endif %}
                <div class="form-group">
                  <input id="id_username" name="username" type="text" placeholder="Login" class="form-control" />
                </div>
                <div class="form-group">
                  <input id="id_password" name="password" type="password" placeholder="Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success">Entrar</button>
            {% endif %}
            </form>
          {% endblock %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <br>
        <div class="container">
          <div class="row">
            <div class="col-lg-1">
              <img src="{{ STATIC_URL }}img/logo_novo3.jpg" height="124" width="106">
            </div>
            <div class="col-lg-11">
            <div class="titulo">
              <h1>Marmitinha Tracy</h1>
            </div>
            </div>
          </div>
        </div>
        <p>A Marmitinha Tracy é um serviço de almoço diário disponibilizado pela Tracy Web Technologies, não só para os funcionários da própria empresa, como para todos aqueles dentro do Ambiente CoNéctar que solicitarem tal serviço, no entanto, existe uma obrigação, lavar a marmita térmica, e aqui informamos, de maneira justa, de quem é a vez.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Ranking</h2>
          <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item active">
              Ranking
            </a>
            {% for person in people %}
              <a href="javascript:void(0);" class="list-group-item{% if person.is_new %} im_new{% endif %} person_ranking" rel="{{ person.pk }}">{{ person.name }} {{ person.get_average }} | {{ person.weight }}</a>
              {% empty %}
              <a href="javascript:void(0);" class="list-group-item empty_ranking">Adicione pessoas para que a geração do ranking</a>
            {% endfor %}
          </div>
          {% if user.is_authenticated %}
            <div class="form-group">
              <input type="text" class="form-control" id="add_person" placeholder="Adicionar pessoa" />
              <button class="btn btn-success pull-right" id="btn_add_person" rel="{% url 'people:add' %}">Adicionar</button>
              <div class="status"></div>
            </div>
          {% endif %}
          <p><a class="btn btn-default" href="javascript:void(0);">Entenda o Ranking &raquo;</a></p>
        </div>
          <div class="col-lg-4">
            {% if min %}
              <h2>De quem é a vez de lavar?</h2>
              <div class="button-wrapper">
                <a href="javascript:void(0);" class="a-btn" style="text-decoration:none">
                  <span class="a-btn-text">Veja</span>
                  <span class="a-btn-slide-text">{{ min.name }}</span>
                  <span class="a-btn-icon-right"><span></span></span>
                </a>
              </div>
            {% else %}
              <h2>Não há ninguém para lavar. :'(</h2>
            {% endif %}
          </div>
       {% if user.is_authenticated %}
        <div class="col-lg-4">
         <h2>Área do admin</h2>
         <div>
           <input value="{{ today }}" type="text" id="datepicker" placeholder="Data" class="form-control" rel="{% url 'meals:change' %}" />
         </div>
         <div class="panel panel-default">
          {% if people %}
          <table class="table people_manager">
           <thead>
            <tr>
             <th>Nome</th>
             <th>Comeu</th>
             <th>Lavou</th>
            </tr>
           </thead>
           <tbody rel="{% url 'meals:uncheck_person' %}">
           {% for person in people %}
             <tr rel="{% url 'meals:check_person' %}">
              <td class="person" rel="{{ person.pk }}">{{ person.name }}</td>
              <td class="eat">
                  <div class="{% if person.pk in pqc %}check_icon{% else %}uncheck_icon{% endif %}" rel="eat"></div>
              </td>
              
                <td class="washes">
                    <div class="{% if person == who_wash %}check_icon{% else %}uncheck_icon{% endif %}" rel="wash"></div>
                </td>
             </tr>
           {% endfor %}
           </tbody>
          </table>
          {% else %}
           <div class="no_people" style="padding: 5px;">Não há pessoas no sistema, adicione-as para visualizar a tabela</div>
          {% endif %}
         </div>

        </div>
       {% endif %}
      </div>

      <hr>

      <footer>
        <p>Tracy Web Technologies &copy; Company 2013</p>
      </footer>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}assets/bootstrap3/dist/js/bootstrap.min.js"></script>
  </body>
</html>

